node_modules

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
**/events
**/.vscode

# local env files
.env*

.eslintcache

package-lock.json
yarn.lock

dist/
coverage/