src/
scripts/
test/
coverage/
assets/
.husky/
.github/
.env*
pnpm-lock.yaml
.eslintcache
.commitlintrc.json
.cz.json
.eslintignore
.eslintrc.json
.lintstagedrc.json
.nvmrc
.prettierrc.json
.releaserc.json
renovate.json
tsconfig.json
